<!--
@author  Sarawut Promsoon
@Create Date 2019-08-22
@Update Date
* file : v_manage_own
* Manage : code view manage owner
-->
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:component="urn:jsptagdir:/WEB-INF/tags/component"
     xmlns:util="urn:jsptagdir:/WEB-INF/tags/util"
     xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags"
     xmlns:form="http://www.springframework.org/tags/form"
     version="2.0">

    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>

    <spring:url value="/resources/scripts/views_js/show_Home.js" var="show_Home_js"/>

    <style type="text/css">
        .panel-heading {
            background-color: rgb(53, 53, 221);
        }
        .shadow,
        .panel-primary {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .box {
            /* สไตล์สำหรับจัดให้อยู่กึ่งกลาง */
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px; /* -(height/2) */
            margin-left: -100px; /* -(width/2) */
        }
        body {
            background-color: rgb(233, 227, 227);
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        div.gallery img {
            width: 100%;
            height: auto;
        }
        /*table.dataTable thead {background-color: #33c7ff*/
        /*}*/
        .red{
            background-color: aqua;
        }
    </style>
    <script src="${show_Home_js}" type="text/javascript"><!-- required for FF3 and Opera --></script>
    <body style="background-color: rgba(228, 224, 216, 0.726)">
    <div class="container">
        <div class="row ">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading panel_table_iserl">
                        <font size="6">จัดการบ้านเช่า</font>
                    </div>
                    <div class="panel-body">
                        <!-- ปุ่มเพิ่มบ้าน -->
                        <a href = "add_home" class="btn btn-primary btn-lg " >
                            <i class="glyphicon glyphicon-plus"><jsp:text/></i>
                            เพิ่มบ้าน
                        </a>
                        <br />
                        <br />
                        <!-- ตารางรายการ -->
                        <table id="tb_list" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th class="col-md-1 text-center">
                                    ลำดับ
                                </th>
                                <th class="col-md-2 text-center">
                                    รูปบ้าน
                                </th>
                                <th class="col-md-3 text-center">
                                    รายละเอียด
                                </th>
                                <th class="col-md-2 text-center">
                                    สถานะ
                                </th>
                                <th class="col-md-2 text-center">
                                    ดำเนินการ
                                </th>
                            </tr>
                            </thead>
                            <tbody id="tb_body">
                            <!-- ตัวอย่างข้อมูล -->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </body>
    <!--ssssssssssssssss-->
</div>
